[Desktop Entry]
Name=Gluqlo
Comment=Flip clock screensaver inspired by Fliqlo
Icon=gluqlo
Exec=/usr/libexec/xscreensaver/gluqlo --root
TryExec=/usr/libexec/xscreensaver/gluqlo
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
OnlyShowIn=MATE;GNOME;
